/resources/public/js/compiled/**
/resources/public/css/editor.css
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.lein-failures
node_modules
package.json
solver-work/
import-work/
.cpcache/*
/TODO.org_archive
/.nrepl-history
/.lsp/
/.dir-locals.el
/error-dumps/
/eu-lidar/
/lidar/
/deployment/smtp-password
/deployment/result
