[{:main thermos-frontend.editor
  :output-dir "target/resources/public/js/editor.out"
  :output-to "target/resources/public/js/editor.js"
  :asset-path "/js/editor.out"
  :externs ["externs/leaflet-extra.js"]}
 {:main thermos-frontend.pages.database-import
  :output-dir "target/resources/public/js/database_import.out"
  :output-to "target/resources/public/js/database_import.js"
  :asset-path "/js/database_import.out"
  :externs ["externs/leaflet-extra.js"]}
 {:main thermos-frontend.pages.projects
  :output-dir "target/resources/public/js/projects.out"
  :output-to "target/resources/public/js/projects.js"
  :asset-path "/js/projects.out"}
 {:main thermos-frontend.pages.manage-lidar
  :output-dir "target/resources/public/js/manage-lidar.out"
  :output-to "target/resources/public/js/manage-lidar.js"
  :asset-path "/js/manage-lidar.out"
  :externs ["externs/leaflet-extra.js"]}
 {:main thermos-frontend.pages.help
  :output-dir "target/resources/public/js/help.out"
  :output-to "target/resources/public/js/help.js"
  :asset-path "/js/help.out"}]
