[{:title "9th March 2022"
  :changes
  [{:title "Bug fixes"
    :summary
    [:p "The spreadsheet download would sometimes produce an invalid spreadsheet when a solution involved counterfactual heating systems."]
    }]}

 {:title "22nd Feb 2022"
  :changes
  [{:title "Bug fixes"
    :summary
    [:p "The pipe costs table erroneously displayed zero for default capacity values, and the spreadsheet import/export now preserves the default civil cost."]}]
  }

 {:title "9th Feb 2022"
  :changes
  [{:title "Bug fixes"
    :summary [:p "Carbon factors for supply plant were not properly incorporated when evaluating carbon limits. Now they are."]
    }
   {:title "Market rate output"
    :summary [:p "When using market tariff, the market rate used is now shown for building that don't get connected, as well as those who do."]}]}

 {:title "17th December 2021"
  :changes
  [{:title "Better detection of disconnected buildings"
    :summary
    [:p "Buildings which could not be supplied because they are connected only "
     "via another building are now marked as unreachable when solving a problem. "
     "Previously, they would render the problem unfeasible for the optimiser."]}

   {:title "Updates to documentation"
    :summary
    [:p "The documentation has been updated with some information about the demand estimation model."]}]}

 {:title "9th April 2021"
  :changes
  [{:title "Solution summary in spreadsheet output"
    :summary
    [:p "The spreadsheet download now contains the solution summary page"]}

   {:title "Documentation updated"
    :summary
    [:p "The help documentation has been updated to reflect new features in the application."]}

   {:title "Spreadsheet Upload for Supply Model"
    :summary
    [:p "The spreadsheet upload now loads supply model parameters."]}

   {:title "Equivalized Cost"
    :summary
    [:p "The solution summary display now includes an equivalized cost column."]}

   {:title "UI bug fixes"
    :summary
    [:ul
     [:li "The selection info panel would incorrectly display a building's peak demand for its insulated demand, if it had not been included in a solution."]
     [:li "Manually edited buildings or paths whose constraint status is forbidden were incorrectly reset to their original state when they were not visible on the map for a period of time. User edits are now remembered even when you can't see the edited candidate."]
     [:li "Connection costs have been moved into the pipe costs page, for consistency."]
     [:li "The checkboxes controlling insulation & individual systems are disabled when not in whole-system mode."]
     ]}

   {:title "Supply model bug fixes"
    :summary
    [:ul
     [:li "The supply model incorrectly took the grid offer price as a cost rather than revenue, making a CHP worse value than an otherwise equivalent boiler, rather than better value as it should be."]
     [:li [:p "The supply model's interface to the network model only considered the first supply location in networks with multiple supplies, so the supply model would be solving for only part of the system peak / annual demand."]
      [:p "Now, if there are multiple supplies their peak and annual demands are summed for the supply model, which still solves them as a single system. "
       "This is still a simplification, but hopefully a better one."]]]}]}
 
 {:title "Feb 26th 2021"
  :changes
  [{:title "Features: upload your own lidar, auto HDD, hot water tank."
    :summary
    [:ul
     [:li "Projects can now have their own associated LIDAR, used for maps in the same project."]
     [:li "When creating a new map the heating degree days field will be pre-populated with a relevant value."]
     [:li "Individual systems can now represent a 'hot water tank' for sizing. "
      "On the individual systems page, there is a new field for 'Tank factor'. "
      "If supplied, this field is used to compute a new peak for the building when using that individual system as a multiple of the annual demand."]]}

   {:title "Bugs fixed"
    :summary
    [:ul
     [:li "NPV or annualization terms of zero are taken as one year. Previously this would stop the model running."]
     [:li "The hot water demand part of the demand model produced values 1.15 times larger than it should have; this is fixed, for new maps only."]
     [:li "The application should do a better job of processing email addresses when inviting people to a project."]
     [:li "The diversity calculation is corrected in the case where the optimisation solution includes multiple paths from the supply to a vertex. Previously, if one path had a very small heat flow the diversity on that path could be incorrect."]
     ]
    }
   ]
  }
 {:title "5th February 2021"
  :changes
  [{:title "Features: user-defined fields, building groups, spreadsheet input/output, and more"
    :summary
    [:ul 
     [:li "Buildings and roads can now have arbitrary user-defined fields on them."]
     [:li "The largest zoom level at which the map is visible has been increased"]
     [:li "Buildings can be placed in groups, for which there is only a single connection decision (all or none of the buildings in a group must be connected). " 
      "Groups can be inferred automatically during map creation from what road segment a building is connected to."]
     [:li "Tiny holes in the network are now automatically closed during map creation."]
     [:li "Model parameters can now be saved to and loaded from an excel spreadsheet."]
     [:li "Underlying optimiser updated to a newer version."]
     [:li "Project pages now show which problems have a solution. Running problems can be cancelled by clicking on the spinning thermos icon."]
     [:li "The objective settings page now lets you stop the optimisation early if parameter fixing is not having a large effect on the result."]
     [:li "To help find holes in the network, pipes which are connected to the network but go nowhere are now distinguished from those which are not connected at all."]
     ]}
   
   {:title "Some bug fixes"
    :summary
    [:ul
     [:li "The combined demand profile for the supply model was computed incorrectly in some cases, making the total demand not match up with what the network model said. This is fixed."]
     [:li "The network optimisation would sometimes fail if the a solution was feasible, but became infeasible when the diversity parameters were updated to reflect decisions in the first pass. This is now less likely to happen."]
     [:li "The network optimisation model would not report correctly when a problem was infeasible."]
     [:li "The candidate editor did not set connection costs when told to."]
     [:li "It is no longer possible to tell the supply model that a technology is CHP but has no power efficiency; doing this this caused the supply model to fail."]
     [:li "An incorrect bounds calculation for the maximum power flow on pipes to buildings with a connection count of more than 1 is fixed. This mistake made some solutions infeasible that shouldn't have been."]
     [:li "The cooling peak demand was not assignable during map creation; it now is."]
     ]}]}

 {:title "27th October 2020"
  :changes
  [{:title "Steam networks"
    :summary
    [:div "The model now has power & heat loss estimation functions for saturated steam. "
     "You can change the network medium to saturated steam in the pipe costs page. "]}
   {:title "Discrete pipe sizes"
    :summary
    [:div "The pipe cost model is now expressed as a table, which you can see on the pipe costs page. "
     "You can now specify the diameter, power, losses and costs for a range of pipe sizes. "
     "The optimiser solution is now rounded up to the nearest pipe size from this table."]}
   {:title "Spreadsheet output"
    :summary
    [:div
     "You can now download detailed outputs as a spreadsheet, to do your own reporting. "
     "Spreadsheet download can be found in the pop-out menu in the network editor."]}
   {:title "UI Improvements"
    :summary
    [:ul
     [:li "You can now zoom the map in further."]
     [:li "The info panel now has a row to tell you if you have edited a given candidate."]
     [:li "The solution view in the map defaults to showing the pipe size."]
     [:li "The splitters in the map part of the editor now have a button to minimize them."]
     [:li "The changelog notification has been made more obnoxious."]
     ]}
   ]
  }

 {:title "24th June 2020"
  :changes
  [{:title "Supply model"
    :summary
    [:div "THERMOS now includes a network supply model, which can model heat supply in more detail."]}

   {:title "Required paths"
    :summary
    [:div "Required paths now have some meaning to the optimiser. "
     "It is still possible that a required path will not be included in a solution, if the alternative chosen is cheaper including the cost of digging up the required path."]}

   {:title "Category & Address editing"
    :summary [:div "You can now change the category and name/address for things on the map through the candidate editor (the " [:b "e"] " key)."]
    }
   ]}
 
 {:title "14th April 2020"
  :changes [{:title "Model improvements"
             :summary
             [:ul
              [:li "The network flow bounds calculation has been made faster."]
              [:li "Network topology pre-processing no longer fails if the network contains a peripheral closed loop (a circular connected path that touches no buildings)."]
              [:li "Backward flow along connectors has been forbidden. This means that a network can no longer pass through a building."]
              [:li "A bug has been removed which caused the model to ignore civil costs on some paths after they had been simplified to remove spurious junctions."]
              ]
             
             }]}
 
 {:title "31st March 2020"
  :changes [{:title "Public Projects"
             :summary
             [:div "You can now make projects public. "
              "In a public project, anyone who knows the URL can see maps and projects, but they cannot change anything."]
             
             }]
  }

 {:title "20th March 2020"
  :changes [{:title "Support forum"
             :summary [:div
                       "There's now a support forum - click forum at the top to go there. "
                       "Unfortunately you will have to sign up for a separate account there, as it's a separate system."]}]}
 
 {:title "27th Feb 2020"
  :changes [{:title "International numbers"
             :summary
             [:div "When using GIS data to create a map, numbers expressed as text "
              "that use the comma as a decimal point separator will now be understood. "
              "Such numbers must be of the form (digits),(more digits), so cannot "
              "include thousands separators etc."]}
            {:title "Fixed bugs"
             :summary
             [:ul
              [:li
               "When using the line drawing tool, if the new line split an existing line in two, each half of the split line would have the original length. "
               "The expected (and now correct) outcome is that the length of each half is recalculated. "
               "This fix does " [:em "not"] " apply retroactively to existing network problems."]
              ]
             }]
  }
 {:title "4th Feb 2020"
  :changes [{:title "Cooling model"
             :summary
             [:div
              "The network editor can now model cooling networks. "
              "Existing maps will not have cooling demands, so you will need to make a new map to make a cooling network."]}]}
 
 {:title "23rd Jan 2020"
  :changes [{:title "Fixed bug with GIS height"
             :summary
             [:div "User-specified height fields in GIS data were being ignored. "
              "This has been corrected."]}]}
 
 {:title "17th Jan 2020"
  :changes [{:title "Map info"
             :summary
             [:div
              "The project page now displays information about the demand estimation method used in each map, and shows a warning if the estimates are mostly low-quality."]}]}

 {:title "10th Jan 2020"
  :changes [{:title "Individual system display"
             :summary [:div "The selection info window now shows what individual systems are in use, rather than just saying 'individual'."]
             }
            {:title "Unset counterfactual"
             :summary [:div "You can now remove a counterfactual option from buildings."]}

            {:title "Bugs removed"
             :summary
             [:ul
              [:li "The variable capital cost for individual systems is now included. "
               "It was accidentally left out of the objective for the optimiser."]]}]}
 

 {:title "6th December 2019"
  :changes
  [{:title "OSM building heights"
    :summary
    [:div
     [:div
      "When importing from OpenStreetMap, if there is no LIDAR data but OSM contains either the height or building:levels attributes "
      "these values will be used to determine building height. This should improve the quality of OSM estimates. "
      "Don't forget, you can edit OSM to add these values yourself!"]
     [:div "Thanks to Richard Moll for this suggestion."]
     [:div "Also, the linear density figure is displayed in the selection info panel."]]}]}

 {:title "5th December 2019"
  :changes
  [{:title "Existing pipes"
    :summary [:div "Pipes can now be marked as existing network in the candidate editing window. These have no capital costs within a single lifetime."]}
   {:title "Pipe limits"
    :summary [:div "Individual paths can now have a maximum diameter set in the candidate editing window."]}
   {:title "Emissions units"
    :summary [:div "The display units for pm25 and nox factors have been changed from grams to milligrams."]}
   {:title "Bugs fixed"
    :summary [:div
              "A few bug fixes:"
              [:ul
               [:li "Multipolygons now have peak demand estimated correctly."]
               [:li "Password recovery button should work without a password in the box"]
               [:li "Some units were wrong in the results summary page"]]]}]
  
  }
 {:title "29th November 2019"
  :changes
  [{:title "OSM Roundabouts"
    :summary [:div "Roundabouts or other closed loops of road in OpenStreetMap are now imported properly."]}
   {:title "Adding points"
    :summary [:div "There is now a button to add points to the map, for supply locations etc."]}
   {:title "Removing candidates"
    :summary [:div "The right-click menu now contains the option to delete candidates from a problem entirely."]}
   {:title "Interface improvements"
    :summary [:div
              "Various improvements to the interface:"
              [:ul
               [:li "The map view has a legend, and different display schemes for showing the problem and the solution information"]
               [:li "Lots of other things look nicer"]]]}
   {:title "Market tariff"
    :summary [:div
              "To make the network NPV objective interact properly with carbon prices and the counterfactual, we have added a special tariff called " [:b "market"] ". "

              "Buildings on this tariff will have their unit rate calculated from the cost of their best alternative non-networked choice, including any cost of carbon."
              ]
    }

   {:title "Documentation updated"
    :summary [:div "The documentation has been updated to be more correct for changes to teh application, and to cover more details about the demand model and the network model."]
    }
   ]
  }
 
 {:title "15th October 2019"
  :changes
  [{:title "Demand model fixes"
    :summary [:div
              "The demand model had a couple of things wrong with it:"
              [:ul
               [:li "The projection used to calculate the predictors caused demands to be overestimated, by making some buildings' areas too large"]
               [:li "The fallback linear model used when the SVM prediction is out of bounds was not implemented properly"]
               ]
              "Both these issues are fixed; predictors are now calculated using the closest UTM zone, which should work alright, and the linear model implementation has had an error removed."]}]}

 {:title "4th October 2019"
  :changes
  [{:title "UI Improvements"
    :summary [:div "A bunch of minor improvements to the user interface, following feedback."]
    }
   {:title "Pipe diameter limits"
    :summary [:div "The pipe cost parameters page now lets you set the minimum and maximum pipe diameter the model will consider."]
    }
   ]
  }
 
 {:title "29th August 2019"
  :changes
  [{:title "Better connectors"
    :summary
    [:div
     "When creating a new map, connectors will be preferred if they "
     "connect to the middle of a building, and if they connect to existing road "
     "(rather than to another connector)."]}]}
 
 {:title "16th August 2019"
  :changes
  [
   {:title "Whole-system optimisation"
    :summary
    [:div
     "The model can now optimise for whole-system impacts, by considering alternative heating systems and demand reduction measures."
     ]}]}
  
 {:title "4th July 2019"
  :changes
  [{:title "Categorised civil engineering costs"
    :summary [:div
              [:p "Similarly to tariffs, civil engineering costs are now defined for categories of path."]
              [:p "You can select paths and assign them to categories as you wish."]]}
   
   {:title "Improved tariff structure"
    :summary [:div
              [:p "Tariffs can now include standing and capacity charges. Connection cost can now include a fixed component."]
              [:p "Connection costs have been combined into the tariff. They are no longer stored within a map as part of a building, but are part of a network design."]
              ]}

   {:title "New menu"
    :summary "The menu in the network editor has been moved."}

   {:title "Multipolygon support"
    :summary "The map creation tool now supports multipolygon geometry for buildings."}

   {:title "Change messages"
    :summary "The application now shows these change messages."
    }
   ]
  }
 {:title "7th June 2019"
  :changes
  [{:title "Better heat demand estimates"
    :summary "Heat demand estimates now use a fallback linear model for buildings in which the support vector machine model produces a bad result"}
   {:title "Fewer bugs"
    :summary "A bug where importing a map would delete things from other maps in the same location has been removed."
    }]
  }
 
 {:title "4th June 2019"
  :changes
  [{:title "Data usage statement"
    :summary [:div "THERMOS now has a " [:a {:href "/help/data-protection.html"}
                                         "statement about data protection"]
              ". Also the EU is credited on the front page."]}
   {:title "Better connectors"
    :summary "Connectors are now created under an azimuthal equidistant projection instead of a Lambert conformal conic projection. This makes them more perpendicular."}

   {:title "A connection drawing tool"
    :summary "You can now add new connections between candidates on the map by drawing them."}
   {:title "Better colours"
    :summary "The colour for excluded candidates in the solution has been changed from light green to yellow, to make it easier to distinguish. Also, colour coding is showed in the selection info panel on the right."}]
  
  
  }
 
 {:title "17th May 2019"
  :changes
  [{:title "Improved documentation"
    :summary
    [:div
     "The documentation has been extended to explain more about how the model works. "
     "Some contextual help is now available within the application as tool-tips, indicated by a dotted underline."]}
   
   {:title "Reporting of connection costs"
    :summary "Connection costs for buildings are now shown in the financial model summary on the results page."}]}
 
 {:title "15th May 2019"
  :changes
  [{:title "Improved documentation"
    :summary "The THERMOS manual is now available online, as part of the application."}
   {:title "Zero demands"
    :summary "The map creation wizard now allows buildings to have a heat demand of zero"}]}]

