[{:title "24th June 2020"
  :changes
  [{:title "Supply model"
    :summary
    [:div "THERMOS now includes a network supply model, which can model heat supply in more detail."]}

   {:title "Required paths"
    :summary
    [:div "Required paths now have some meaning to the optimiser. "
     "It is still possible that a required path will not be included in a solution, if the alternative chosen is cheaper including the cost of digging up the required path."]}]}
 
 {:title "14th April 2020"
  :changes [{:title "Model improvements"
             :summary
             [:ul
              [:li "The network flow bounds calculation has been made faster."]
              [:li "Network topology pre-processing no longer fails if the network contains a peripheral closed loop (a circular connected path that touches no buildings)."]
              [:li "Backward flow along connectors has been forbidden. This means that a network can no longer pass through a building."]
              [:li "A bug has been removed which caused the model to ignore civil costs on some paths after they had been simplified to remove spurious junctions."]
              ]
             
             }]}
 
 {:title "31st March 2020"
  :changes [{:title "Public Projects"
             :summary
             [:div "You can now make projects public. "
              "In a public project, anyone who knows the URL can see maps and projects, but they cannot change anything."]
             
             }]
  }

 {:title "20th March 2020"
  :changes [{:title "Support forum"
             :summary [:div
                       "There's now a support forum - click forum at the top to go there. "
                       "Unfortunately you will have to sign up for a separate account there, as it's a separate system."]}]}
 
 {:title "27th Feb 2020"
  :changes [{:title "International numbers"
             :summary
             [:div "When using GIS data to create a map, numbers expressed as text "
              "that use the comma as a decimal point separator will now be understood. "
              "Such numbers must be of the form (digits),(more digits), so cannot "
              "include thousands separators etc."]}
            {:title "Fixed bugs"
             :summary
             [:ul
              [:li
               "When using the line drawing tool, if the new line split an existing line in two, each half of the split line would have the original length. "
               "The expected (and now correct) outcome is that the length of each half is recalculated. "
               "This fix does " [:em "not"] " apply retroactively to existing network problems."]
              ]
             }]
  }
 {:title "4th Feb 2020"
  :changes [{:title "Cooling model"
             :summary
             [:div
              "The network editor can now model cooling networks. "
              "Existing maps will not have cooling demands, so you will need to make a new map to make a cooling network."]}]}
 
 {:title "23rd Jan 2020"
  :changes [{:title "Fixed bug with GIS height"
             :summary
             [:div "User-specified height fields in GIS data were being ignored. "
              "This has been corrected."]}]}
 
 {:title "17th Jan 2020"
  :changes [{:title "Map info"
             :summary
             [:div
              "The project page now displays information about the demand estimation method used in each map, and shows a warning if the estimates are mostly low-quality."]}]}

 {:title "10th Jan 2020"
  :changes [{:title "Individual system display"
             :summary [:div "The selection info window now shows what individual systems are in use, rather than just saying 'individual'."]
             }
            {:title "Unset counterfactual"
             :summary [:div "You can now remove a counterfactual option from buildings."]}

            {:title "Bugs removed"
             :summary
             [:ul
              [:li "The variable capital cost for individual systems is now included. "
               "It was accidentally left out of the objective for the optimiser."]]}]}
 

 {:title "6th December 2019"
  :changes
  [{:title "OSM building heights"
    :summary
    [:div
     [:div
      "When importing from OpenStreetMap, if there is no LIDAR data but OSM contains either the height or building:levels attributes "
      "these values will be used to determine building height. This should improve the quality of OSM estimates. "
      "Don't forget, you can edit OSM to add these values yourself!"]
     [:div "Thanks to Richard Moll for this suggestion."]
     [:div "Also, the linear density figure is displayed in the selection info panel."]]}]}

 {:title "5th December 2019"
  :changes
  [{:title "Existing pipes"
    :summary [:div "Pipes can now be marked as existing network in the candidate editing window. These have no capital costs within a single lifetime."]}
   {:title "Pipe limits"
    :summary [:div "Individual paths can now have a maximum diameter set in the candidate editing window."]}
   {:title "Emissions units"
    :summary [:div "The display units for pm25 and nox factors have been changed from grams to milligrams."]}
   {:title "Bugs fixed"
    :summary [:div
              "A few bug fixes:"
              [:ul
               [:li "Multipolygons now have peak demand estimated correctly."]
               [:li "Password recovery button should work without a password in the box"]
               [:li "Some units were wrong in the results summary page"]]]}]
  
  }
 {:title "29th November 2019"
  :changes
  [{:title "OSM Roundabouts"
    :summary [:div "Roundabouts or other closed loops of road in OpenStreetMap are now imported properly."]}
   {:title "Adding points"
    :summary [:div "There is now a button to add points to the map, for supply locations etc."]}
   {:title "Removing candidates"
    :summary [:div "The right-click menu now contains the option to delete candidates from a problem entirely."]}
   {:title "Interface improvements"
    :summary [:div
              "Various improvements to the interface:"
              [:ul
               [:li "The map view has a legend, and different display schemes for showing the problem and the solution information"]
               [:li "Lots of other things look nicer"]]]}
   {:title "Market tariff"
    :summary [:div
              "To make the network NPV objective interact properly with carbon prices and the counterfactual, we have added a special tariff called " [:b "market"] ". "

              "Buildings on this tariff will have their unit rate calculated from the cost of their best alternative non-networked choice, including any cost of carbon."
              ]
    }

   {:title "Documentation updated"
    :summary [:div "The documentation has been updated to be more correct for changes to teh application, and to cover more details about the demand model and the network model."]
    }
   ]
  }
 
 {:title "15th October 2019"
  :changes
  [{:title "Demand model fixes"
    :summary [:div
              "The demand model had a couple of things wrong with it:"
              [:ul
               [:li "The projection used to calculate the predictors caused demands to be overestimated, by making some buildings' areas too large"]
               [:li "The fallback linear model used when the SVM prediction is out of bounds was not implemented properly"]
               ]
              "Both these issues are fixed; predictors are now calculated using the closest UTM zone, which should work alright, and the linear model implementation has had an error removed."]}]}

 {:title "4th October 2019"
  :changes
  [{:title "UI Improvements"
    :summary [:div "A bunch of minor improvements to the user interface, following feedback."]
    }
   {:title "Pipe diameter limits"
    :summary [:div "The pipe cost parameters page now lets you set the minimum and maximum pipe diameter the model will consider."]
    }
   ]
  }
 
 {:title "29th August 2019"
  :changes
  [{:title "Better connectors"
    :summary
    [:div
     "When creating a new map, connectors will be preferred if they "
     "connect to the middle of a building, and if they connect to existing road "
     "(rather than to another connector)."]}]}
 
 {:title "16th August 2019"
  :changes
  [
   {:title "Whole-system optimisation"
    :summary
    [:div
     "The model can now optimise for whole-system impacts, by considering alternative heating systems and demand reduction measures."
     ]}]}
  
 {:title "4th July 2019"
  :changes
  [{:title "Categorised civil engineering costs"
    :summary [:div
              [:p "Similarly to tariffs, civil engineering costs are now defined for categories of path."]
              [:p "You can select paths and assign them to categories as you wish."]]}
   
   {:title "Improved tariff structure"
    :summary [:div
              [:p "Tariffs can now include standing and capacity charges. Connection cost can now include a fixed component."]
              [:p "Connection costs have been combined into the tariff. They are no longer stored within a map as part of a building, but are part of a network design."]
              ]}

   {:title "New menu"
    :summary "The menu in the network editor has been moved."}

   {:title "Multipolygon support"
    :summary "The map creation tool now supports multipolygon geometry for buildings."}

   {:title "Change messages"
    :summary "The application now shows these change messages."
    }
   ]
  }
 {:title "7th June 2019"
  :changes
  [{:title "Better heat demand estimates"
    :summary "Heat demand estimates now use a fallback linear model for buildings in which the support vector machine model produces a bad result"}
   {:title "Fewer bugs"
    :summary "A bug where importing a map would delete things from other maps in the same location has been removed."
    }]
  }
 
 {:title "4th June 2019"
  :changes
  [{:title "Data usage statement"
    :summary [:div "THERMOS now has a " [:a {:href "/help/data-protection.html"}
                                         "statement about data protection"]
              ". Also the EU is credited on the front page."]}
   {:title "Better connectors"
    :summary "Connectors are now created under an azimuthal equidistant projection instead of a Lambert conformal conic projection. This makes them more perpendicular."}

   {:title "A connection drawing tool"
    :summary "You can now add new connections between candidates on the map by drawing them."}
   {:title "Better colours"
    :summary "The colour for excluded candidates in the solution has been changed from light green to yellow, to make it easier to distinguish. Also, colour coding is showed in the selection info panel on the right."}]
  
  
  }
 
 {:title "17th May 2019"
  :changes
  [{:title "Improved documentation"
    :summary
    [:div
     "The documentation has been extended to explain more about how the model works. "
     "Some contextual help is now available within the application as tool-tips, indicated by a dotted underline."]}
   
   {:title "Reporting of connection costs"
    :summary "Connection costs for buildings are now shown in the financial model summary on the results page."}]}
 
 {:title "15th May 2019"
  :changes
  [{:title "Improved documentation"
    :summary "The THERMOS manual is now available online, as part of the application."}
   {:title "Zero demands"
    :summary "The map creation wizard now allows buildings to have a heat demand of zero"}]}]

