{:pg-host "192.168.56.101"
 :pg-user "postgres"
 :pg-password "therm0s"
 :pg-db "thermos"
 :force-migrate false
 
 :web-server-port 8080
 :web-server-max-age 600
 :web-server-max-body 800
 :web-server-enabled true

 :smtp-host ""
 :smtp-port 25
 :smtp-tls true
 :smtp-ssl false
 :smtp-user ""
 :smtp-password ""
 :smtp-from-address ""
 :smtp-enabled true

 :base-url ""

 :restart-running-jobs false

 :solver-count 10
 :importer-count 4
 
 :import-directory "import-work"
 :lidar-directory "lidar"
 :error-dumps "error-dumps"
 }
