{:pg-host "192.168.56.101"
 :pg-user "postgres"
 :pg-password "therm0s"
 :pg-db "thermos"
 
 :web-server-port "8080"
 :web-server-disable-cache "false"
 :web-server-max-body 800

 :solver-directory "solver-work"
 :solver-command "/home/hinton/p/110-thermos/thermos-ui/deployment/model/run-model"
 :solver-count 4

 :import-directory "import-work"
 :lidar-directory "lidar"

 :smtp-host ""
 :smtp-port 25
 :smtp-tls true
 :smtp-ssl false

 :smtp-user ""
 :smtp-password ""
 :smtp-from-address ""

 :base-url ""
 }
