{:periods [],
 :infrastructures
 [{:capitalCost 0.08,
   :discountRate 0.035,
   :maintenanceCost 0,
   :operatingCost 0.0,
   :period 30,
   :transportedResource "",
   :varname "elec_net"}
  {:capitalCost 0.15,
   :discountRate 0.035,
   :maintenanceCost 0,
   :operatingCost 0.0,
   :period 30,
   :transportedResource "",
   :varname "gas_net"}
  {:capitalCost 0.468,
   :discountRate 0.035,
   :maintenanceCost 0,
   :operatingCost 0.0,
   :period 30,
   :transportedResource "",
   :varname "heat_net"}],
 :majorperiods
 [{:demandfile "demands-50.csv", :multiplier 1.0, :period 1}],
 :population {:averageHouseholdSize 2.3, :populationSize 115},
 :resflow
 {:penalty 1000000.0,
  :restrictImports false,
  :restrictSupply false,
  :requireAllDemands false,
  :nonhhp false,
  :opexWeight 1.0,
  :usedeficit false,
  :usehhcon true,
  :tariffs [],
  :carbonCap 1.0E12,
  :ghgWeight 0.0,
  :objectiveFunction "COST",
  :capexWeight 1.0,
  :solver
  {:iterationLimit 100000000,
   :resourceLimit 3600,
   :terminationCriterion 0.01}},
 :resources
 [{:minTransport 0.0,
   :exportPrice 0.048,
   :varname "elec",
   :transportEmissions 0.0,
   :importCost 0.1013,
   :flowable true,
   :transportCost 0,
   :maxImport 100.0,
   :maxExport 100.0,
   :maxTransport 10.0,
   :networkType "elec_net",
   :importable true,
   :network false,
   :emissions 0.39412,
   :includeResflow true}
  {:maxExport 0.0,
   :minTransport 0.0,
   :exportPrice 0.02149,
   :varname "gas",
   :transportEmissions 0.0,
   :importCost 0.02149,
   :flowable true,
   :transportCost 0,
   :maxImport 11.0,
   :maxTransport 10.639,
   :networkType "gas_net",
   :importable true,
   :network false,
   :emissions 0.18416,
   :includeResflow true}
  {:maxExport 0.0,
   :minTransport 0.0,
   :exportPrice 0.0,
   :varname "heat",
   :transportEmissions 0.0,
   :importCost 0.0,
   :flowable false,
   :transportCost 0.0,
   :maxImport 0.0,
   :maxTransport 3.6E9,
   :networkType "",
   :importable false,
   :network false,
   :emissions 0.0,
   :includeResflow true}
  {:maxExport 0.0,
   :minTransport 0.0,
   :exportPrice 0.0,
   :varname "dist_heat",
   :transportEmissions 0.0,
   :importCost 0.0,
   :flowable true,
   :transportCost 0,
   :maxImport 0.0,
   :maxTransport 10.0,
   :networkType "heat_net",
   :importable false,
   :network true,
   :emissions 0.0,
   :includeResflow true}
  {:maxExport 0.0,
   :minTransport 0.0,
   :exportPrice 0.0,
   :varname "recov_heat",
   :transportEmissions 0.0,
   :importCost 0.0,
   :flowable false,
   :transportCost 0.0,
   :maxImport 0.0,
   :maxTransport 0.0,
   :networkType "",
   :importable false,
   :network false,
   :emissions 0.0,
   :includeResflow false}
  {:maxExport 0.0,
   :minTransport 0.0,
   :exportPrice 0.0254202,
   :varname "chips",
   :transportEmissions 0.0,
   :importCost 0.0254202,
   :flowable false,
   :transportCost 0.0,
   :maxImport 10.0,
   :maxTransport 0.0,
   :networkType "",
   :importable true,
   :network false,
   :emissions 0.00432,
   :includeResflow true}
  {:maxExport 0.0,
   :minTransport 0.0,
   :exportPrice 0.0,
   :varname "heat_waste",
   :transportEmissions 0.0,
   :importCost 0.0,
   :flowable false,
   :transportCost 0.0,
   :maxImport 0.0,
   :maxTransport 0.0,
   :networkType "",
   :importable false,
   :network false,
   :emissions 0.0,
   :includeResflow true}],
 :processes
 [{:varname "boiler",
   :maintenanceCost 0,
   :inputFlows
   [{:dependency "RATE", :flowValue 1.11, :resourceName "gas"}],
   :capitalCost 2.5,
   :household true,
   :networkType "",
   :maxAllowed 100,
   :operatingCost 0.0,
   :period 15,
   :discountRate 0.035,
   :outputFlows
   [{:dependency "RATE", :flowValue 1.0, :resourceName "heat"}
    {:dependency "RATE", :flowValue 0.11, :resourceName "heat_waste"}],
   :minRate 0.0,
   :maxRate 0.0261,
   :includeResflow false,
   :operatingEmissions 0.0}
  {:varname "heatex",
   :maintenanceCost 0,
   :inputFlows
   [{:dependency "RATE",
     :flowValue 1.0101,
     :resourceName "dist_heat"}],
   :capitalCost 2.0,
   :household true,
   :networkType "",
   :maxAllowed 100,
   :operatingCost 0.0,
   :period 15,
   :discountRate 0.035,
   :outputFlows
   [{:dependency "RATE", :flowValue 1.0, :resourceName "heat"}
    {:dependency "RATE",
     :flowValue 0.0101,
     :resourceName "heat_waste"}],
   :minRate 0.0,
   :maxRate 0.0324,
   :includeResflow true,
   :operatingEmissions 0.0}
  {:varname "eheater",
   :maintenanceCost 0.0,
   :inputFlows
   [{:dependency "RATE", :flowValue 1.0, :resourceName "elec"}],
   :capitalCost 0.4,
   :household true,
   :networkType "",
   :maxAllowed 100,
   :operatingCost 0.0,
   :period 10,
   :discountRate 0.035,
   :outputFlows
   [{:dependency "RATE", :flowValue 1.0, :resourceName "heat"}
    {:dependency "RATE", :flowValue 0.0, :resourceName "heat_waste"}],
   :minRate 0.0,
   :maxRate 0.0026,
   :includeResflow false,
   :operatingEmissions 0.0}
  {:varname "small_chp",
   :maintenanceCost 0,
   :inputFlows
   [{:dependency "RATE", :flowValue 2.933, :resourceName "gas"}],
   :capitalCost 173.0,
   :household false,
   :networkType "",
   :maxAllowed 1,
   :operatingCost 0.0,
   :period 15,
   :discountRate 0.035,
   :outputFlows
   [{:dependency "RATE", :flowValue 1.0, :resourceName "elec"}
    {:dependency "RATE", :flowValue 1.619, :resourceName "dist_heat"}
    {:dependency "RATE",
     :flowValue 0.314,
     :resourceName "heat_waste"}],
   :minRate 0.04,
   :maxRate 0.135,
   :includeResflow true,
   :operatingEmissions 0.0}
  {:varname "med_chp",
   :maintenanceCost 0,
   :inputFlows
   [{:dependency "RATE", :flowValue 2.632, :resourceName "gas"}],
   :capitalCost 500.0,
   :household false,
   :networkType "",
   :maxAllowed 1,
   :operatingCost 0.0,
   :period 15,
   :discountRate 0.035,
   :outputFlows
   [{:dependency "RATE", :flowValue 1.0, :resourceName "elec"}
    {:dependency "RATE", :flowValue 0.286, :resourceName "heat_waste"}
    {:dependency "RATE", :flowValue 1.345, :resourceName "dist_heat"}],
   :minRate 0.15,
   :maxRate 0.5,
   :includeResflow true,
   :operatingEmissions 0.0}
  {:varname "large_chp",
   :maintenanceCost 0,
   :inputFlows
   [{:dependency "RATE", :flowValue 2.315, :resourceName "gas"}],
   :capitalCost 800.0,
   :household false,
   :networkType "",
   :maxAllowed 1,
   :operatingCost 0.0,
   :period 15,
   :discountRate 0.035,
   :outputFlows
   [{:dependency "RATE", :flowValue 1.0, :resourceName "elec"}
    {:dependency "RATE", :flowValue 1.03, :resourceName "dist_heat"}
    {:dependency "RATE",
     :flowValue 0.285,
     :resourceName "heat_waste"}],
   :minRate 0.3,
   :maxRate 1.0,
   :includeResflow true,
   :operatingEmissions 0.0}
  {:varname "medium_boiler",
   :maintenanceCost 0,
   :inputFlows
   [{:dependency "RATE", :flowValue 1.11, :resourceName "gas"}],
   :capitalCost 60.5,
   :household false,
   :networkType "",
   :maxAllowed 1,
   :operatingCost 0.0,
   :period 15,
   :discountRate 0.035,
   :outputFlows
   [{:dependency "RATE", :flowValue 1.0, :resourceName "dist_heat"}],
   :minRate 0.0025,
   :maxRate 0.5,
   :includeResflow false,
   :operatingEmissions 0.0}
  {:varname "nondom_boiler",
   :maintenanceCost 0,
   :inputFlows
   [{:dependency "RATE", :flowValue 1.11, :resourceName "gas"}],
   :capitalCost 121.0,
   :household false,
   :networkType "",
   :maxAllowed 1,
   :operatingCost 0.0,
   :period 15,
   :discountRate 0.035,
   :outputFlows
   [{:dependency "RATE", :flowValue 1.0, :resourceName "dist_heat"}
    {:dependency "RATE", :flowValue 0.11, :resourceName "heat_waste"}],
   :minRate 0.005,
   :maxRate 1.0,
   :includeResflow true,
   :operatingEmissions 0.0}
  {:varname "nondomGSHP-h",
   :maintenanceCost 0,
   :inputFlows
   [{:dependency "RATE", :flowValue 0.345, :resourceName "elec"}],
   :capitalCost 968.0,
   :household false,
   :networkType "",
   :maxAllowed 1,
   :operatingCost 0.0,
   :period 25,
   :discountRate 0.035,
   :outputFlows
   [{:dependency "RATE", :flowValue 1.0, :resourceName "dist_heat"}],
   :minRate 0.1,
   :maxRate 0.5,
   :includeResflow true,
   :operatingEmissions 0.0}
  {:varname "heat_recovery",
   :maintenanceCost 0,
   :inputFlows
   [{:dependency "RATE",
     :flowValue 1.001,
     :resourceName "recov_heat"}],
   :capitalCost 0.0,
   :household false,
   :networkType "",
   :maxAllowed 1,
   :operatingCost 0.0,
   :period 15,
   :discountRate 0.035,
   :outputFlows
   [{:dependency "RATE", :flowValue 1.0, :resourceName "dist_heat"}],
   :minRate 0.0,
   :maxRate 1.0,
   :includeResflow false,
   :operatingEmissions 0.0}
  {:varname "biomass_boiler",
   :maintenanceCost 0,
   :inputFlows
   [{:dependency "RATE", :flowValue 1.21951, :resourceName "chips"}],
   :capitalCost 133.25,
   :household false,
   :networkType "",
   :maxAllowed 1,
   :operatingCost 0.0,
   :period 15,
   :discountRate 0.035,
   :outputFlows
   [{:dependency "RATE", :flowValue 1.0, :resourceName "dist_heat"}
    {:dependency "RATE",
     :flowValue 0.21951,
     :resourceName "heat_waste"}],
   :minRate 0.7,
   :maxRate 1.0,
   :includeResflow true,
   :operatingEmissions 0.0}],
 :metadata
 {:loggerLevel "INFO"},
 :minorperiods [{:hours 8760.0, :name "average"}],
 :cityspace
 {:gridX 0,
  :ncells 50,
  :neighbours "neighbours-50.csv",
  :gridY 0,
  :useCSVSpace true,
  :demands "",
  :inverseMap true,
  :useGridSpace false,
  :distances "",
  :cityName "Islington-50",
  :image "",
  :gridfile "cityspace-50.csv",
  :households ""}}
