.main-nav__header {
  line-height: @nav-height;
  font-size: 1.5em;
  margin: 0 20px;
  span {
    margin-left: 12px;
    font-size: 0.7em;
    font-style: italic;
  }
}

.main-nav__input-container {
  vertical-align: top;
  display: inline-block;
  padding: calc(((@nav-height - @input-height) / 2) - 1) 20px;
}

.main-nav__file-name-input {
  border: 1px solid #e1e1e1;
  background: #e1e1e1;
  font-weight: 600;
  transition: border 0.2s linear;
  &:hover, &:active, &:focus {
    border-color: #999;
  }
}

.main-nav__run-button {
  margin: 0 40px;
  span {
    display: inline-block;
    margin-left: 10px;
  }
}

.button--save-button, .button--load-button {
  color: @theme-darker-red;
  &:hover {
    color: @theme-darkest-red;
  }
}

div.main-menu {
  padding: 20px 0;
    div.menu-block {
      border-top: 1px solid #ddd;
      padding: 1em;
      h1 {
        display:block;
        font-weight:bold;
        font-size: 1em;
        // color: @theme-blue;
        color: #777;
        text-transform: uppercase;
        margin-bottom: 1em;
      }
      // padding:0.5em;
      &:first-child {
        border-top: none;
      }
      input[type="search"] {
        width: 100%;
        margin-bottom: 1em;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    li {
      height: 30px;
      .button--link-style {
        display: block;
        width: 100%;
        font-weight: bold;
        margin: 0;
        text-align: left;
        padding: 0;
        padding-left: 10px;
        height: 30px;
        outline: none;
        &.selected {
          background: #eee;
          border-radius: 3px;
        }
      }
      a {
        display: block;
        font-weight: bold;
        color: @theme-darker-blue;
        text-decoration: none;
        padding-left: 10px;
        height: 30px;
        &:hover {
          color: @theme-darkest-blue;
        }
        &.selected {
          background: #eee;
          border-radius: 3px;
        }
      }
    }
}

button.hamburger {
    cursor:pointer;
}
