.leaflet-control-button {
  width: 30px;
  height: 31px;
  line-height: 30px;
  color: #333;
  background: #fff;
  display: block;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #ccc;
  &:active, &:focus {
    outline: none;
  }
}

.leaflet-control-group div:first-child .leaflet-control-button {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.leaflet-control-group div:last-child .leaflet-control-button {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 30px;
  border-bottom: none;
}

.hide-forbidden-icon {
  position: relative;
  height: 30px;
  width: 30px;
  display: inline-block;
  &:before {
    content: "";
    display: inline-block;
    width: 20px;
    border-left: 8px solid #444;
    border-right: 8px solid #bbb;
    height: 8px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  &:after {
    content: "";
    display: inline-block;
    width: 20px;
    border-left: 8px solid #bbb;
    border-right: 8px solid #bbb;
    height: 8px;
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
}
.hide-forbidden-control:hover {
  background: #f4f4f4;
}
input:checked + .hide-forbidden-control {
  background: #f4f4f4;
  .hide-forbidden-icon {
    &:before {
      border-right-color: #777;
    }
    &:after {
      border-color: #777;
    }
  }
}

/**
 * Thing to control whether you see the constraints or the solution on the map
 */
.view-control {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 600;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}
.view-control__label {
  color: #555;
  font-weight: bold;
  // text-shadow: 0 0 2px #333, 0 0 4px #333, 0 0 6px #333, 0 0 10px #333;
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9em;
}
.view-control__button {
  background: #eee;
  color: #666;
  margin: 8px 5px;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 15px;
  // box-shadow: @standard-shadow;
  cursor: pointer;
  &:hover {
    // background: #e1e1e1;
    color: #555;
  }
}
.view-control__button--active {
  background: @theme-blue;
  color: #fff;
  &:hover {
    background: @theme-blue;
    color: #fff;
  }
}

.map-legend {
  position: absolute;
  bottom: 60px;
  right: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: @standard-shadow;
  dl {
    margin: 0;
  }
  dt {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  dd {
    display: inline-block;
    margin: 0;
    line-height: 20px;
    vertical-align: middle;
    color: #333;
    font-size: 0.9em;
  }
  .key {
    position: relative;
    &:after {
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      left: 2px;
      right: 2px;
      top: 9px;
    }
  }
  .required-key:after {
    background: red;
  }
  .optional-key:after {
    background: @theme-blue;
  }
  .forbidden-key {
    background: #777;
  }
  .forbidden-key:after {
    background: #fff;
  }
  .supply-key:after {
    background: #dd6500;
    height: 10px;
    left: 5px;
    right: 5px;
    top: 5px;
  }
  .key.in-network-key:after {
    background: #c84500;
  }
  .key.not-in-network-key:after {
    background: #d7c8aa;
  }
  .key.unreachable-key:after {
    background: #ff00ff;
  }
  .key.alternative-key:after {
    background: #32cd32;
  }
}

.pipe-size-key {
  display: inline-block;
  font-size: 0.9em;
}
.pipe-size-key__min {
  display: inline-block;
  height: 2px;
  width: 13px;
  margin-bottom: 4px;
  margin-left: 10px;
  margin-right: 5px;
  background: @theme-orange;
}
.pipe-size-key__max {
  display: inline-block;
  height: 10px;
  width: 16px;
  margin-bottom: 1px;
  margin-left: 10px;
  margin-right: 5px;
  background: @theme-orange;
  border-radius: 5px;
}
