div.parameters-component {
   height: calc(~"100% - 50px");
   font-size:1.2em;
   h1 {
      font-size:2em;
   }

   div {
      margin:0.5em;
   }

   input[type=number] {
      padding:3px;
      border:none;
      border-radius:3px;
      background-color:rgba(1,1,1,0.1);
      transition:background-color 0.1s ease;
   }

   input[type=number]:focus {
      background-color:white;
      border:none;
      outline:none;
   }

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -25px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 12.5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
}