div.solution-component {
   height: calc(~"100% - 50px");
   overflow:auto;
   width: 100%;
   display: flex;
   flex-direction: column;
   h1, h2, h3 {
      display:block;
      font-weight: bold;
   }
   h1 {
      font-size:2em;
   }
   h2 {
      font-size:1.5em;

   }
   h3 {
      font-size:1.25em;

   }
   table {
       margin-bottom:1em;

       width:auto;
   }
   
   padding: 1em;

   td {text-align:left; padding-left:0.5em; padding-right:0.5em;}
   th {text-align:left;
   border-bottom:1px #ccc solid;
   }
}