button + button {
  margin-left: 10px;
}
button {
  font: inherit;
}
.button {
  border: none;
  background: @theme-darker-blue;
  line-height: @input-height;
  border-radius: @border-radius;
  padding: 0 1em;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background linear 0.2s;
  display: inline-block;
  &:hover, &:active {
    background: @theme-darkest-blue;
  }
}

.button--link-style {
  background: transparent;
  color: @theme-darker-blue;
  border: none;
  cursor: pointer;
  &:hover, &:active {
    background: transparent;
    color: @theme-darkest-blue;
  }
}
.button--outline {
  background: transparent;
  color: @theme-darker-blue;
  border: 1px solid;
  &:hover, &:active {
    background: transparent;
    color: @theme-darkest-blue;
  }
}

.button--small {
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  font-size: 0.9em;
}

.button--disabled, .button--save-button.button--disabled {
  color: #aaa;
  cursor: default;
  pointer-events: none;
}

.button--tab {
    cursor: pointer;
    border:none;
    background:none;
    margin:0;
    padding-left:1em;
    padding-right:1em;
    transition: background linear 0.1s;
}

.button--danger {
    color:#fff;
    background:#f00;
}

.button--tab--selected {
    color:#fff;
    background:#555;
}

.button--tab:hover {
    background:#aaa;
}
