/**
 * This is a hard-coded layout based on one panel on the left and a panel on the right with two sub-panels
 * vertically nested. We may want to make it more flexible in the future, but this seems fine for now.
 *  ---------
 *  |   |   |
 *  |   |---|
 *  |   |   |
 *  ---------
 */

div#app {
   height:100%;
}

.editor__container {
  display: flex;
  flex-direction: column;
  height:100%;
}

.layout__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}
.layout__panel {
  height: 100%;
}
