.table {
  border-collapse: collapse;
  width: 100%;
  td, th {
    border-bottom: 1px solid #ccc;
    padding: 0.6em 1em;
  }
  tr:last-child td {
    border-bottom: none;
  }
}

.table--white-bg {
  background: #fff;
}
