
// @TODO replace this with a theme colour
@tag-colour: @theme-darker-blue;

.tag {
  display: inline-block;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.6em;
  height: 2em;
  padding: 0 6px;
  border-radius: 15px;
  color: #555;
  background: #bbb;
  margin: 4px;
  position: relative;
  max-width: 100%;
}
.tag__body {
  padding: 0.2em 0.2em;
  display: inline-block;
  margin: 0 20px 0 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 2em;
  line-height: 1.6em;
  max-width: calc(~"100% - 50px");
  cursor: pointer;
  &:hover {
    color: #292929;
  }
}
.tag__counter {
  display: inline-block;
  padding: 0.2em 0.3em;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  min-width: 25px;
  height: 19px;
  line-height: 1em;
  background: #eee;
  border-radius: 10px;
  position: absolute;
  top: 4px;
}
.tag__close {
  display: inline-block;
  cursor: pointer;
  font-size: 1.6em;
  line-height: 1em;
  font-weight: 700;
  min-width: 1em;
  text-align: center;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #555;
  transition: color 0.1s linear;
  &:hover {
    color: #292929;
  }
}
