
// @TODO replace this with a theme colour
@tag-colour: @theme-darker-blue;

.tag {
    display: flex;
    flex-direction:column;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1.6em;
    height: 2em;
    padding: 0 6px;
    border-radius: 15px;
    color: #555;
    background: #bbb;
    margin: 4px;
    position: relative;
    max-width: 100%;
    max-width:25em;
    min-width:10em;
    flex-grow:1;
}

.tag.constraint.optional {
    background: @theme-blue;
    .tag__body { color: white; }
    .tag__close { color: darken(@theme-blue, 20%); }
    .tag__close:hover { color: darken(@theme-blue, 25%); }
}

.tag.constraint.required {
    background: @theme-red;
    .tag__body { color: white; }
    .tag__close { color: darken(@theme-red, 25%); }
    .tag__close:hover { color: darken(@theme-red, 30%); }
}

.tag.solution.impossible {
    background: @theme-magenta;
    .tag__body { color: white; }
    .tag__close { color: darken(@theme-magenta, 25%); }
    .tag__close:hover { color: darken(@theme-magenta, 30%); }
}

.tag.solution.no {
    background: @theme-beige;
    .tag__body { color: darken(@theme-beige, 45%); }
    .tag__close { color: darken(@theme-beige, 35%); }
    .tag__close:hover { color: darken(@theme-beige, 40%); }
}

.tag.solution.individual {
    background: @theme-green;
    .tag__body { color: darken(@theme-green, 35%); }
    .tag__close { color: darken(@theme-green, 25%); }
    .tag__close:hover { color: darken(@theme-green, 30%); }
}

.tag.solution.network {
    background: @theme-orange;
    .tag__body { color: #fff; }
    .tag__close { color: #ddd; }
    .tag__close:hover { color: #fff; }
}

.tag__body {
  padding: 0.2em 0.2em;
//  display: inline-block;
  margin: 0 20px 0 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 2em;
  line-height: 1.6em;
//  max-width: calc(~"100% - 50px");
  cursor: pointer;
  &:hover {
    color: #292929;
  }
}
.tag__counter {
  display: inline-block;
  padding: 0.2em 0.3em;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  min-width: 25px;
  height: 19px;
  line-height: 1em;
  background: #eee;
  border-radius: 10px;
  position: absolute;
  top: 4px;
}
.tag__close {
  display: inline-block;
  cursor: pointer;
  font-size: 1.6em;
  line-height: 1em;
  font-weight: 700;
  min-width: 1em;
  text-align: center;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #555;
  transition: color 0.1s linear;
  &:hover {
    color: #292929;
  }
}
