.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.centre {
  text-align: center;
}

input.double-range
{
   position:absolute;
   pointer-events:none;
   width:80%;
   margin:0;
   padding:0;
   outline:none;
   overflow: hidden;
   
   &::-webkit-slider-thumb {
     pointer-events: all;
     position: relative;
     z-index: 1;
     outline: 0;
   }
   &::-moz-range-thumb {
     pointer-events: all;
     position: relative;
     z-index: 10;
   }
   
}
.shadow.top {
    box-shadow: 0 -5px 5px -5px #333;
}

.shadow.right {
    box-shadow: 5px 0 5px -5px #333;
}

.shadow.bottom {
    box-shadow: 0 5px 5px -5px #333;
}

.shadow.left {
    box-shadow: -5px 0 5px -5px #333;
}

